<header class="header bg-header color-white">
  <span>联豆平台</span>
  <!-- <a href="javascript:void(0);" title="" class="back">
  </a> -->
  <a href="javascript:void(0);" title="" class="exit">
    退出
  </a>
</header>
<section class="content homepage-content">
  <div class="account-container">
    <div class="line">
      <div class="go-balance">
        <span class="balance-icon"></span>
        <a href="javascript:;">联豆账单</a>
      </div>
    </div>
    <div class="tc account">
      联豆总数
      <h1>
        <span class="int-balance">0.</span><span class="decimal-balance">00</span>
      </h1>
    </div>
  </div>
  <div class="hide">
     <!-- <img src="images/v2/account-bg-standalone.png" alt=""> -->
  </div>
  <div class="app-container">
    <ul class="app-list">
      <li>
        <a href="javascript:;" class="go-buy">
          <span class="item buy"></span>
          <span class="icon-desc">买联豆</span></a>
      </li><li>
        <a href="javascript:;" class="go-sell">
          <span class="item sell"></span>
          <span class="icon-desc">卖联豆</span></a>
      </li><li>
          <a href="javascript:;" class="go-mobilebill">
            <span class="item mobilebill"></span>
            <span class="icon-desc">联豆充话费</span>
          </a>
      </li><li>
          <a href="javascript:;" class="go-traffic">
            <span class="item traffic"></span>
            <span class="icon-desc">联豆充流量</span>
          </a>
      </li>

      <li>
          <a href="javascript:;" class="go-oilcard">
            <span class="item oilcard"></span>
            <span class="icon-desc">联豆充油卡</span></a>
      </li><li>
        <a href="javascript:;" class="go-life">
          <span class="item life"></span>
          <span class="icon-desc">联连Life</span></a>
      </li><li>
        <a href="javascript:;" class="go-licai">
          <span class="item licai"></span>
          <span class="icon-desc">联连理财</span></a>
      </li><li>
          <a href="javascript:;" class="go-repayment">
            <span class="item repayment"></span>
            <span class="icon-desc">联豆还信用卡</span></a>
        </li>
      <!-- <li>
          <a href="javascript:;" class="go-lian-card">
            <span class="item liancard"></span>
            <span class="icon-desc">联豆卡激活</span></a>
      </li> -->
    </ul>
  </div>

  <div class="banner-container hide">
    <div id="home-swipe" class="swipe"></div>
  </div>

</section>
<footer class="footer">
  <ul class="lly-tabs">
    <li class="selected">
      <div class="line tab-navigate" data-page="home" data-isnow="true">
        <div class="tab-icon tab-home tab-home-selected"></div>
        <a href="javascript:void(0)">首页</a>
      </div>
    </li>
    <li>
      <div class="line tab-navigate" data-page="buy" data-isnow="false">
        <div class="tab-icon tab-buy"></div>
        <a href="javascript:void(0)">买联豆</a>
      </div>
    </li>
    <li>
      <div class="line tab-navigate" data-page="sell" data-isnow="false">
        <div class="tab-icon tab-sell"></div>
        <a href="javascript:;">卖联豆</a>
      </div>
    </li>
    <li>
      <div class="line tab-navigate" data-page="account" data-isnow="false">
        <div class="tab-icon tab-account"></div>
        <a href="javascript:;">我的</a>
      </div>
    </li>
  </ul>
</footer>
